<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Watch</title>
    <script src="/js/socket.io.js" charset="utf-8"></script>
    <script src="/js/jquery.slim.min.js" charset="utf-8"></script>
    <script src="/js/bootstrap.bundle.min.js" charset="utf-8"></script>
    <script src="/js/jquery.cookie.js" charset="utf-8"></script>
    <script src="/js/bootbox.min.js" charset="utf-8"></script>
    <script src="/js/index.js" charset="utf-8"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript">
      let rooms = <%- JSON.stringify(rooms) %>;
    </script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/index.css">
  </head>
  <body onload="checkRooms();">
    <div class="container-fluid p-0">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container-fluid m-1">
          <a class="navbar-brand" href="/">Companion Watch</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link btn btn-link" href="/">Home
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link btn btn-link" onclick="createRoom()" href="">Create Room</a>
              </li>
              <li class="nav-item">
                <a class="nav-link btn btn-link" href="/contact">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <div class="container-fluid p-0">
      <main>
        <div class="container px-4 pt-4 pb-0 mx-auto row">
          <button type="button" onclick="createRoom()" class="btn btn-lg btn-primary btn-block col-7">Create Room</button>
          <div class="d-flex align-items-center col-1 mb-0">
            <p class="h3 mb-0 mx-auto">or</p>
          </div>
          <a href="#" class="btn btn-lg btn-primary btn-block col-4 mt-0 btn-perm">Rent permanent Room</a>
        </div>
        <div class="container-fluid px-5" id="roomWrapper">
          <div class="container-fluid mt-5 text-center d-none" id="noRooms">
            <h1>Currently there are no public rooms</h1>
          </div>
          <% for (room of rooms) { %>
            <div class="container-fluid border-bottom mt-4 p-0 room pb-2">
              <a class="btn btn-link btn-lg p-0" href="/watch/<%= room.roomId %>"><img class="img-thumbnail mr-3" src="<% if (room.snippet) { %><%= room.snippet.thumbnails.default.url %><% } else { %><%= '/imgs/noThumbnail.png' %><% } %>"><% if (room.snippet) { %><%= room.snippet.title %><% } else { %><%= 'Title not loaded' %><% } %></a><p class="m-1">Companions: <%= room.connectedClients %></p>
            </div>
          <% } %>
        </div>
      </main>
    </div>
  </body>
</html>
